* {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.jumbotron hr {
  border-color: grey;
  margin: 0;
}

.jumbotron {
  background: url('bg.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-green {
  background-color: #A5C9CA;
  background-size: cover;
  width: 100%;
}

.background-cream {
  background-color: #FAF3E0;
  background-size: cover;
  width: 100%;
}

.background-white {
  background-color: white;
  background-size: cover;
  width: 100%;
}

.background-black {
  background-color: #393E46;
  background-size: cover;
  color: #F6F6F6;
  width: 100%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 25px;
}

#profile_pic {
  border-radius: 50%;
  border: 5px solid #395B64;
}

h1 {
  position: relative;
  display: inline-block;
  font-size: 54px;
}

a {
  text-decoration: none;
  color: grey;
}

.container {
  padding: 50px 100px;
  margin-right: auto;
  margin-left: auto;
}

.lead {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 40px;
}


.col-exp-title {
  text-align: left;
  float: left;
  width: 40%;
}

.col-exp-details {
  text-align: left;
  width: 60%;
  float: left;
  color: #2C3333;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.col-exp-details strong {
  font-size: 18px;
}

#profile {
  width: 800px;
}

#profile-hr {
  border-color: #395B64;
}

#profile h2 {
  padding: 15px 0;
  position: relative;
  margin: 0 auto;
  width: 20%;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 54px;
}

#profile p {
  position: relative;
  margin: 0 auto;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#col1 h3 {
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#col1 p {
  text-align: left;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#col3 h3 {
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#col3 p {
  text-align: left;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#q1 {
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 15px 0;
}

#experience-head, #skills, #contact {
  width: 800px;
  margin: 0 auto;
}

h2 {
  padding: 15px 0;
  position: relative;
  margin: 0 auto;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 54px;
}

#p-head {
  position: relative;
  margin: 0 auto;
  color: #A5C9CA;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

hr {
  margin: 0 auto;
  position: relative;
  border-style: solid none none;
  border-color: #A5C9CA;
  border-width: thin;
  font-weight: 200;
  width: 100%;
  margin: 40px 0;
}

h3 {
  text-align: left;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
  font-weight: 600;
}

#experience-head h4 {
  padding-bottom: 15px;
  text-align: left;
  color: #2C3333;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#p-row {
  color: #A5C9CA;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#h2-head-contact {
  color: #F6F6F6;
}

#p-head-contact, #q2 {
  color: #F6F6F6;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#contact-hr {
  border-color: #F6F6F6;
}

.skill-col1, .skill-col2 {
  margin: 10px;
  float: left;
  text-align: left;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  width: 47%;
}

.contact-col1, .contact-col2 {
  margin: 10px;
  float: left;
  text-align: center;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  width: 47%;
}

ul.list {
  list-style-type: none;
  margin: 0px;
  padding: 5px 0;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

li {
  margin: 10px 0;
}

.ratings {
    float: right;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #A5C9CA;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 14pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px #A5C9CA;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}
/* IE */
 <!--[if IE]> .full-stars {
    color: #ECBE24;
}
<![endif]-->
