* {
  margin: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.jumbotron {
  background: url('bg.jpg') repeat fixed center center;
  background-size: cover;
  height: 100vh;
}

.background-green {
  background-color: #A5C9CA;
  background-size: cover;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 25px;
}

h1 {
  padding-top: 30px;
  position: relative;
  display: inline-block;
}

.container {
  padding: 50px 100px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

#profile h2 {
  padding: 15px 0;
  position: relative;
  margin: 0 auto;
  width: 20%;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 25px;
}

#profile p {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative;
  margin: 0 auto;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#profile hr {
  margin: 0 auto;
  position: relative;
  border-style: solid none none;
  border-color: #395B64;
  border-width: thin;
  font-weight: 200;
  width: 60%;
  padding-bottom: 40px;
}

#col1 h3 {
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#col1 p {
  text-align: left;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#col3 h3 {
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#col3 p {
  text-align: left;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#q1 p {
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 15px 0;
}

#experience h2 {
  padding: 15px 0;
  position: relative;
  margin: 0 auto;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, serif;
  font-weight: 600;
  font-size: 25px;
}


#experience p {
  padding: 15px;
  position: relative;
  margin: 0 auto;
  color: #A5C9CA;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#experience hr {
  margin: 0 auto;
  position: relative;
  border-style: solid none none;
  border-color: #A5C9CA;
  border-width: thin;
  font-weight: 200;
  width: 35%;
  padding-bottom: 40px;
}

#experience h3 {
  text-align: left;
  color: #395B64;
  font-family: 'Optima', Helvetica, Arial, sans-serif;
  font-size: 20px;
}
